player-connection-mode=Listen
player-connection-guid=3894693141
player-connection-debug=0
player-connection-project-name=Multiplayer_photon
player-connection-ip=192.168.56.1
player-connection-ip=192.168.1.3
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=328b4f3e15194af89a0a28f8476393ec
