player-connection-mode=Listen
player-connection-guid=1403871084
player-connection-debug=0
player-connection-project-name=Multiplayer_photon
player-connection-ip=192.168.1.3
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=cc6b80cd0b6d4cd5912ceea0f8a6fd08
