player-connection-mode=Listen
player-connection-guid=2787924915
player-connection-debug=0
player-connection-project-name=Multiplayer_photon
player-connection-ip=192.168.1.3
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5ec23fd93e8745839f39dcf1abcfbee3
